@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css);

/* $border-radius: 20px; */

body {
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h2 {
    font-size: 64px;
    margin-bottom: 16px;
    text-align: center;
}

.widget {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    height: 300px;
    width: 600px;
    transform: translate(-50%, -50%);
    flex-wrap: wrap;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
}

.weatherLocation {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding: 2rem;
    background-color: #fafafa;
}

.weatherLocation button {
    background: #080705;
    color: #fff;
    border: 1px solid transparent;
}

.weatherLocation input:focus {
    outline: 0 none;
}

.widget .weatherIcon {
    flex: 1 100%;
    height: 60%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: #FAFAFA;
    font-family: weathericons;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 100px;
}

.widget .weatherIcon i {
    padding-top: 30px;
}

.widget .weatherInfo {
    flex: 0 0 70%;
    height: 40%;
    background: #080705;
    border-bottom-left-radius: 20px;
    display: flex;
    align-items: center;
    color: white;
}

.widget .weatherInfo .temperature {
    flex: 0 0 40%;
    width: 100%;
    font-size: 35px;
    display: flex;
    justify-content: space-around;
}

.widget .weatherInfo .description {
    flex: 0 60%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.widget .weatherInfo .description .weatherCondition {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 100;
}

.widget .weatherInfo .description .place {
    font-size: 15px;
}

.widget .date {
    flex: 0 0 30%;
    height: 40%;
    background: rgb(68, 112, 207);
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 30px;
    font-weight: 800;
}

p {
    position: fixed;
    bottom: 0%;
    right: 2%;
}

p a {
    text-decoration: none;
    color: #E4D6A7;
    font-size: 10px;
}